body {
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.container > .link {
  text-align: center;
  max-width: 300px;
  box-shadow: 0 0 10px #463636;
  margin: 10px;
}
.container > .link:hover {
  background-color: lightgray;
}